.site-button {
  display: flex;
  width: max-content;
  text-decoration: none;
  border-radius: 25px;
  border: none;
  padding: 10px 30px;
  color: white;
  font-weight: bold;
  background: linear-gradient(90deg, #9340ff, #ff3c5f);
  font-size: 17.5px;
}
