:root {
  --global-max-width: 1280px;
  --primary-color: hsl(222.5, 42.9%, 11%);
  --secondary-color: hsl(222, 42.9%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sans-Serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

body {
  background: var(--primary-color);
  max-width: var(--global-max-width);
  margin: 0 auto;
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  color: white;
  gap: 1.5rem;
  padding-top: 2rem;
}

.site-name {
  color: #9340ff;
}
