@media (min-width: 1400px) {
  h1 {
    font-size: 45px;
  }

  p {
    font-size: 30px;
  }
}

.p-about {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .page1,
  .page2,
  .page3 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    .content {
      max-width: 600px;
    }
  }

  .content {
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  h1,
  p {
    text-align: center;
  }

  p {
    font-size: 20px;
  }

  img {
    width: 300px;
    height: 300px;
    box-shadow: 0 0 100px 30px rgb(31, 65, 187, 0.5);
    border-radius: 10px;
  }

  .faleconosco {
    width: 100%;
    padding: 3rem;
=======
    z-index: 1;
>>>>>>> 6e70ba69bb24f632b4469e24b26da38d125f7973
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 1rem;

    p {
      font-size: 20px;
    }
  }

  .about-img {
    width: 300px;
    height: 300px;
    box-shadow: 0 0 100px 30px var(--img-shadow);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
}

<<<<<<< HEAD
@media (min-width: 1400px) {
  .page2,
  .page3 {
    display: flex;
    flex-direction: row !important;
=======
// Notebook
@media (min-width: 960px) {
  .p-about {
    h1 {
      font-size: 40px;
    }
>>>>>>> 6e70ba69bb24f632b4469e24b26da38d125f7973

    .about-img {
      width: 400px;
      height: 400px;
    }
<<<<<<< HEAD
  }

    .page1 {
    .content {
      max-width: 800px;
    }
  }
  .content {
    max-width: 600px;

    h1 {
      font-size: 50px;
    }

    p {
      font-size: 25px;
    }
  }
=======

    .page1 {
      .content {
        display: flex;
        flex-direction: column;
        max-width: 650px;
        gap: 1rem;
        width: 100%;
      }
    }

    .page2,
    .page3 {
      flex-direction: row;

      .content {
        max-width: 450px;
      }
    }
  }
}

@media (min-width: 1400px) {
  h1 {
    font-size: 45px;
  }

  p {
    font-size: 30px;
  }
>>>>>>> 6e70ba69bb24f632b4469e24b26da38d125f7973
}
