footer {
  display: none;
}
// O css principal é mobile first
.p-home {
  gap: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem 0.5rem;
  overflow: hidden;
  flex-grow: 1;

  .home-text {
    font-size: 25px;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    z-index: 1;

    h1 {
      text-align: center;
    }
  }

  .home-img img {
    width: 300px;
    height: 300px;
    box-shadow: 0 0 100px 30px rgb(31, 65, 187, 0.5);
    border-radius: 10px;
  }
}

// css notebook
@media (min-width: 960px) {
  .p-home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center !important;
    padding: 5rem 0;

    .home-text {
      font-size: 35px;
    }

    .home-img img {
      width: 400px;
      height: 400px;
    }
  }
}
