// O css principal é mobile first
.p-home {
  gap: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem 0.5rem;
  flex-grow: 1;

<<<<<<< HEAD
.home-text {
  font-size: 25px;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: center;
  }
}

.home-img img {
  width: 300px;
  height: 300px;
  box-shadow: 0 0 100px 30px rgb(31, 65, 187, 0.5);
  border-radius: 10px;
}

//css modificado para telas maiores
@media (min-width: 600px) {
  .home {
=======
  .home-text {
    font-size: 25px;
    gap: 1rem;
>>>>>>> 6e70ba69bb24f632b4469e24b26da38d125f7973
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    z-index: 1;

    h1 {
      text-align: center;
    }
  }

  .home-img {
<<<<<<< HEAD
    width: 400px;
    height: 400px;
  }

  .home-text {
    font-size: 50px;
  }

  .home-img img {
    width: 400px;
    height: 400px;
  }

  .home-img img {
    box-shadow: 0 0 100px 30px rgb(31, 65, 187, 0.5);
    border-radius: 10px;
  }
}

@media (min-width: 1400px) {
  .site-button {
    padding: 30px 50px !important;
    font-size: 30px !important;
    border-radius: 50px !important;
=======
    width: 300px;
    height: 300px;
    box-shadow: 0 0 100px 30px var(--img-shadow);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }
}

// css notebook
@media (min-width: 960px) {
  .p-home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    .home-text {
      font-size: 35px;
    }

    .home-img {
      width: 400px;
      height: 400px;
    }
  }
}

@media (min-width: 1400px) {
  .site-button {
    padding: 30px 50px;
    font-size: 30px;
    border-radius: 50px;
>>>>>>> 6e70ba69bb24f632b4469e24b26da38d125f7973
  }
}
